name: My first workflow

on: push

jobs:
    first_job:
        runs-on: ubuntu-latest
        steps:
        - name: welcome
          run: echo "my first project"

        - name: list the files
          run: ls

        - name: read the file
          run: cat README.md